body{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    padding-top: 0px;
    margin:2px;
    background: url(../images/parchment3.jpg) repeat;
}

nav{
    background:  url(../images/sandstone_brick_banner.jpg) ;
}
#map {
    padding:15px;
    height:400px;
    width:100%;
    background: palegoldenrod;

    border: groove cadetblue 12px;
}
.navbar-brand{
    color: burlywood;
}
.form_label{
  font-size: 16px;
}
a{
    color: darkslateblue;
}
.nav-link {
    color: #000;
}
.big_title{
    font-style: italic;
}
.city{
    text-decoration: underline;
}
.navbar-nav>li>a {
    color: #777;
}
ul{
    list-style-type: none;
}
td{
    font-size: 16px;
    padding-right: 10px;
    text-align: center;
}
tr.form_row{
    border: ridge black 1px;
}
td.npc_name{
    font-size: 16px;
    padding-right: 10px;
    padding-left: 4px;
    text-align: left;
}
th.table_head{
    text-align: center;
}
tr.npc_rows{
    border: ridge 1px;
    border-color: #000;
}
th.left_th{
    scope:row;
    padding-right: 1em;
}
th{
    padding:10px
}
.smaller_legend{
    font-size: 18px;
}
#mini_map{
    height: 200px;
    width: 100%;
    border: groove 2px black;
}
table{
    margin-top: 15px;
}
.the_rest_npc_data{
    padding-top: 15px;
}